$white1: #fefefe;
$white2: #eeeeee;
$orange1: #ffa13d;
$black1: #333333;
$black2: #121212;
$popup-background: rgba(0,0,0,0.8);

* {
    font-family: 'ThaiSansNeue';
}
// Navbar
.navbar{
    min-height: 50px;
    width: 100vw;
    position: fixed;
}
.navbar.bg{
    background: $white2;    
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.navbar .usermenu{
    float: right;
    margin-right: 1em;
}
.navbar .usermenu .menu-item{
    margin-left: 1.5em;
    cursor: pointer;
    margin-top: .3em;
    font-size: 16pt;
}
.menu-item.icon{
    color: $orange1;
}
.menu-item .dropdown{
    display: inline;
}
#dropmenu{
    background: $white1;
    font-size: 16pt;
    line-height: 1em;
    position: absolute;
    // width: 100px;
    right: 1em;
    top: 45px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
#dropmenu span{
    display: block;
    font-size: 14pt;
    color: $black1;
    text-align: center;
    background: $white2;
    padding-bottom: .3em;
}
#dropmenu .link{
    text-align: left;
    color: $orange1;
    font-size: 16pt;
    display: block;
    width: 100%;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    background: $white1;
    font-weight: 500;
}
#dropmenu .link:hover{
    background: $orange1;
    color: $white1;
}
.profile-picture{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: .5em;
    margin-top: -.5em;
}
.icon{
    font-size: 14pt;
}
// Footer
footer{
    width:100%;
    height: 60px;
    background: #333;
}
// popup
.popup{
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    z-index: 1000;
}
.hide{
    display: none;
}
.popup-background{
    position: absolute;
    background: $popup-background;
    width: 100vw;
    min-height: 100vh;
}
.popup-inner{
    position: absolute;
    background: rgba(255,255,255,0.8);
    top: 50px;
}
.login-popup{
    width: 300px;
    min-height: 400px;
    left: calc(50vw - 150px);
}
.login-container .textinput{
    width: 100%;
    font-size: 16pt;
    padding-left: .75em;
    padding-right: .75em;
    border: 0;
    background: $white1;
}
.login-container h1{
    text-align: center;
    margin-bottom: .5em;
}
.login-container .buttoninput{
    width: 100%;
    font-size: 18pt;
    background: $orange1;
    border: 0;
    color: $white1;
    font-weight: 600;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.login-container{
    padding: 1.5em;
}
.login-container input{
    display: block;
    margin-bottom: 1em;
}
// Page
.fullscreen{
    min-height: 100vh;
}
.herofull{
    height: 100vh;
}
.herofull.background{
    background: rgba(0,0,0,0.5);
    z-index: 10;
    width: 100%;
    position: absolute;
}
// Home Guest
#herosection-guest{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
}
.herocontainer{
    z-index: 11;
    color: $white1;
}
.herocontainer h1, .herocontainer h2{
    text-align: center;
}
.herocontainer h1{
    font-size: 75pt;
    line-height: 1em;
}
.herocontainer h2{
    font-size: 50pt;
    margin-bottom: .5em;
}
#detailssection-guest{
    background: $white2;
    min-height: 100px;
}
#examplejobsection-guest{
    background: $white1;
    min-height: 100px;
}
#moresection-guest{
    background: $white2;
    min-height: 200px;
}

// Buttons
button{
    border: 0;
    margin-left: .4em;
    margin-right: .4em;
    cursor: pointer;
}
.button-area{
    text-align: center;
}
.button-area button{
    font-size: 22pt;
    line-height: .7em;
    border-radius: 1em;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: .4em;
    font-weight: 500;
    
}
.login-button{
    color: $white1;
    border: 3px solid $orange1;
    background: rgba(0,0,0,0.2);
}
.register-button{
    color: $white1;
    border: 3px solid $orange1;
    background: $orange1;
}

// Home User
#searchsection-user{
    padding-top: 50px;
    background: $white1;
    min-height: 200px;
}
#joblistsection-user{
    padding: 1rem;
    background: $white2;
    min-height: 500px;
}
#joblistsection-user .head {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
#joblistsection-user .head span, #joblistsection-user .head button{
    display: inline-block;    
}

//regis fill
#regis{
    display: block;
    min-height: 100vh;
}
#regis form div{
    padding: .5em;
}
#regis form div *{
    margin-left: .5em 
}

//job create
#jobcreate {
    min-height: 100vh;
    padding: 1em;
}
#jobcreate .btn{
    cursor: pointer;
}
#jobcard {
    background: $white1;
    width: 100%;
    min-height: 100px;
    padding: 1em;
}