* {
  font-family: 'ThaiSansNeue'; }

.navbar {
  min-height: 50px;
  width: 100vw;
  position: fixed;
  z-index: 10000; }

.navlogo {
  width: 40px;
  height: 40px; }

.navbar.bg {
  background: #eeeeee;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

.navbar .usermenu {
  float: right;
  margin-right: 1em; }

.navbar .usermenu .menu-item {
  margin-left: 1.5em;
  cursor: pointer;
  margin-top: .3em;
  font-size: 16pt; }

.menu-item a {
  color: #ffa13d;
  text-decoration: none; }

.menu-item.icon {
  color: #ffa13d; }

.menu-item .dropdown {
  display: inline; }

#dropmenu {
  background: #fefefe;
  font-size: 16pt;
  line-height: 1em;
  position: absolute;
  right: 1.3em;
  top: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

#dropmenu span {
  display: block;
  font-size: 14pt;
  color: #333333;
  text-align: center;
  background: #eeeeee;
  padding-bottom: .3em; }

#dropmenu .link {
  text-align: left;
  color: #ffa13d;
  font-size: 16pt;
  display: block;
  width: 100%;
  padding: .4em;
  padding-left: .5em;
  padding-right: .5em;
  background: #fefefe;
  font-weight: 500; }

#dropmenu .link:hover {
  background: #ffa13d;
  color: #fefefe; }

.profile-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: .5em;
  margin-top: -.5em; }

.icon {
  font-size: 14pt; }

footer {
  width: 100%;
  height: 60px;
  background: #333; }

.popup {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  z-index: 1000; }

.hide {
  display: none; }

.popup-background {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  min-height: 100vh; }

.popup-inner {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 50px; }

.login-popup {
  width: 300px;
  min-height: 400px;
  left: calc(50vw - 150px); }

.login-container .textinput {
  width: 100%;
  font-size: 16pt;
  padding-left: .75em;
  padding-right: .75em;
  border: 0;
  background: #fefefe; }

.login-container h1 {
  text-align: center;
  margin-bottom: .5em; }

.login-container .buttoninput {
  width: 100%;
  font-size: 18pt;
  background: #ffa13d;
  border: 0;
  color: #fefefe;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.login-container {
  padding: 1.5em; }

.login-container input {
  display: block;
  margin-bottom: 1em; }

.fullscreen {
  min-height: 100vh; }

.herofull {
  height: 100vh; }

.herofull.background {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  position: absolute; }

#herosection-guest {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/background.jpg");
  background-size: cover;
  background-position: center; }

.herocontainer {
  z-index: 11;
  color: #fefefe; }

.herocontainer h1, .herocontainer h2 {
  text-align: center; }

.herocontainer h1 {
  font-size: 75pt;
  line-height: 1em; }

.herocontainer h2 {
  font-size: 50pt;
  margin-bottom: .5em; }

#detailssection-guest {
  background: #eeeeee;
  min-height: 100px; }

#examplejobsection-guest {
  background: #fefefe;
  min-height: 100px; }

#moresection-guest {
  background: #eeeeee;
  min-height: 200px; }

button {
  border: 0;
  margin-left: .4em;
  margin-right: .4em;
  cursor: pointer; }

.button-area {
  text-align: center; }

.button-area button {
  font-size: 22pt;
  line-height: .7em;
  border-radius: 1em;
  padding-left: .8em;
  padding-right: .8em;
  padding-bottom: .4em;
  font-weight: 500; }

.login-button {
  color: #fefefe;
  border: 3px solid #ffa13d;
  background: rgba(0, 0, 0, 0.2); }

.register-button {
  color: #fefefe;
  border: 3px solid #ffa13d;
  background: #ffa13d; }

#searchsection-user {
  padding-top: calc(50px + 1em);
  background: #fefefe;
  min-height: 200px; }

#searchsection-user .comtainer {
  display: flex;
  align-items: center;
  justify-content: center; }

#joblistsection-user {
  padding: 1rem;
  background: #eeeeee;
  min-height: 500px; }

#joblistsection-user .head {
  width: 100%;
  text-align: center;
  margin-bottom: 1em; }

#joblistsection-user .head span, #joblistsection-user .head button {
  display: inline-block; }

#regis {
  padding-top: 50px;
  display: block;
  min-height: 100vh; }

#regis form div {
  padding: .5em; }

#regis form div * {
  margin-left: .5em; }

#jobcreate {
  min-height: 100vh;
  padding: 1em;
  padding-top: calc(50px + 1em); }

#jobcreate .btn {
  cursor: pointer; }

#jobcard {
  background: #fefefe;
  width: 100%;
  min-height: 100px;
  padding: 1em;
  margin-bottom: 1em; }

#profile {
  padding-top: 50px; }

#profile .container {
  padding-top: 2em; }

#profile .box {
  padding: .5em; }

.box .innerbox {
  border: 1px solid #333333;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em; }

#profile span, #profile p {
  font-size: 18pt; }
