.navbar {
  min-height: 30px;
  background: #eeeeee; }

.navbar .usermenu {
  float: right; }

.navbar .usermenu .menu-item {
  margin-left: 1em;
  cursor: pointer; }

.fullscreen {
  min-height: 100vh; }

#herosection-guest {
  display: flex;
  align-items: center;
  justify-content: center; }

#detailssection-guest {
  background: #eeeeee;
  min-height: 100px; }

#examplejobsection-guest {
  background: #fefefe;
  min-height: 100px; }

#moresection-guest {
  background: #eeeeee;
  min-height: 200px; }

button {
  border: 0;
  margin-left: .5em;
  margin-right: .5em;
  cursor: pointer; }

.button-area {
  text-align: center; }

.login-button {
  background: #e93700; }

.register-button {
  background: #ffa13d; }
